a.link-card-project {
  max-width: 30%;
  text-decoration: none;
  color: var(--color-black);
}

.card-project {
  /* min-height: 350px; */
  background-color: var(--color-white);
  flex-direction: column;
  /* border-radius: 25px; */
  margin-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  justify-content: start;
  align-items: center;
}

.card-project-header {
  width: 100%;
  height: 50px;
  /* border: 1px solid red; */
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.card-project-header__images {
  background-color: rgb(241, 241, 241);
  width: 28px;
  height: 28px;
  /* border-radius: 50%; */
  margin-right: 15px;
}

.card-project-header__images img {
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}

.card-project-image { 
  width: 100%;
  /* height: 300px; */
  /* height: 70%; */
  /* border: 1px solid greenyellow; */
  /* padding: 11px; */
}

.card-project-image img {
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  object-fit: cover;
}

.card-project-header__username {
  font-size: 1.2rem;
}

.card-project-header__username::before {
  content: '@';
}

.card-project-body {
  width: 100%;
  height: 100%;
  padding: 12px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: bold;
}

.header__technologies {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  list-style: none;
}

.header__technologies li {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #4e4e4e;
  text-transform: uppercase;
}

.card-project-body__description {
  width: 100%;
  font-size: 1.3rem;
  color: #A4A3A8;
  margin-top: 18px;
}

