.initial-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--color-black-theme1);
}

.box-initial-page {
    width: 50%;
    /* height: calc(100vh - 70px); */
}

.box-initial-page {
    /* width: 100; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.box-initial-page:nth-of-type(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-initial-page__info {
    width: 60%;
    /* border: 1px solid red; */
}
