.container-login {
    background-color: var(--color-gray);
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
}

.section-login {
    width: 50%;
    /* border: 1px solid red; */
}

.section-login:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-login .section-login__info {
    width: 60%;
    height: 80%;
}

.section-login .section-login__info label {
    display: block;
    font-weight: 500;
    color: var(--color-black);
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.section-login .section-login__logo {
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
}

.section-login:nth-of-type(2) {
    background-color: var(--color-black-theme1);
    display: flex;
    justify-content: center;
    align-items: center;
}
