.container-login {
    background-color: var(--color-gray);
    width: 100%;
    height: calc(100vh - 70px);
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
}

.section-login {
    width: 50%;
    /* border: 1px solid red; */
}

.section-login:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-login .section-login__info {
    width: 60%;
    height: 80%;
}

.section-login .section-login__info label {
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: .6rem;
}

.section-login .section-login__logo {
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
}

.section-login:nth-of-type(2) {
    background-color: var(--color-black-theme1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-control {
    width: 100%;
    font-size: 1.5rem;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.input-control::placeholder {
    font-size: 1.4rem;
    font-weight: 500;
}