/* .container-profile {
  width: 100%;
}

.section-profile {
  padding-top: 4rem;
  padding-bottom: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
  margin: auto;
}

.profile-info {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px; 
}

.profile-buttons {
  width: 100%;
}

.profile-image {
  width: 150px;
  height: 150px;
}
.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


.box-info-principal {
  width: 90%;
  height: 100%;
}

.profile-name {
  color: #000;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-size: 3.4rem;
  font-weight: 500;
} 

.profile-profession {
  color: var(--color-navy-theme1);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -.5px;
  font-size: 1.9rem;
  line-height: 10px;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
}

.profile-skills {
  width: 100%;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}

.profile-skill {
  background-color: hsla(278, 22%, 14%, 80%);
  color: var(--color-white);
  font-size: 1.3rem;
  text-align: center;
  padding: 8px 11px;
  border-radius: 25px;
}

.section-profile-info {
  width: 80%;
  margin: auto;
  padding-top: 3.4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid var(--color-gray);
  border-bottom: 2px solid var(--color-gray);
}

.section-profile-projects {
  width: 80%;
  margin-top: 3rem;
  margin: auto;
  padding-bottom: 3.4rem;
}

.message-not-project {
  width: 100%;
  font-style: italic;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
} */

.container-profile {
  width: 100%;
}

.section-profile {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 65%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  align-items: flex-start; 
}

.profile-image {
  width: 150px;
  height: 150px;
  margin: auto;
}
.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.box-info-principal {
  width: 90%;
  height: 100%;
}

.profile-name {
  color: var(--color-text-fullname);
  text-transform: capitalize;
  letter-spacing: -1px;
  font-size: 2.8rem;
  font-weight: 500;
} 

.profile-profession {
  color: var(--color-text-profession);
  text-transform: capitalize;
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 1.6rem;
  font-weight: lighter;
}

.profile-skills {
  width: 100%;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}

.profile-skill {
  background-color: hsla(278, 22%, 14%, 80%);
  color: var(--color-white);
  font-size: 1.3rem;
  text-align: center;
  padding: 8px 11px;
  border-radius: 25px;
}

.section-profile-info {
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  padding-top: 3.4rem;
  padding-bottom: 2rem;
  /* border-top: 2px solid var(--color-gray); */
  /* border-bottom: 2px solid var(--color-gray); */
}

.feed-projects-profile {
  /* border: 1px solid blue; */
}

.box-title-projects {
  width: 100%;
  padding: 12px 0px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-border-gray);
}

.box-title-projects p {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box-title-projects .icon-feed {
  width: 22px;
  margin-right: 5px;
}
.box-title-projects .icon-feed img {
  width: 100%;
}

.box-fullname {
  display: flex;
  align-items: center;
}

.section-not-resources {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-not-resources p {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2.5rem;
}