.container-sidebar {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-right: 1px solid #EDEDF1;
}

.container-sidebar a {
  width: 100%;
  text-decoration: none;
}