<div class="container-add-project">
  <div class="container-add-project__content">
    <h2 class="title-principal-form">Add new project in your portfolio</h2>

    <form class="container-add-project__form" action="/project/add" method="POST" enctype="multipart/form-data">

      <label for="name">Name of the project</label>
      <input type="text" name="name" placeholder="Enter the name of your project" class="input-control">


      <label for="description">Description of the project</label>

      <input type="hidden" name="description" id="description">
      <trix-editor class="container-trix" input="description"></trix-editor>

      <label for="">Technologies used in the project</label>
      <div class="knowledge-list-updateproject">
        {{#selectTechnologies a}}
        {{/selectTechnologies}}
      </div>

      <label for="">Upload an image of the project</label>
      <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
      <label for="inputGroupFile01" class="custom-file-label">Choose file</label>

      <input type="hidden" name="technologies" id="technologies">
      <input type="submit" value="Add project" class="btn-standard btn-form">
    </form>
  </div>
</div>