<div class="container-feed">
    <div class="box-feed">
        {{> sidebar}}
    </div>

    <div class="box-feed">
        <div class="feed-general">
            {{!-- <div class="feed-add-project">
                <div class="feed-add-project__image">
                    <img src="/static/icons/add-image.png" alt="">
                </div>
                <p class="feed-add-project__info">
                    Add a new project to your portfolio
                </p>
            </div> --}}
            {{#each projects}}
            <div class="card-project">

                <div class="card-project-image">
                    {{!-- <img src="{{image_project}}" alt=""> --}}
                    <img src="http://lorempixel.com/350/350/" alt="">
                </div>

                <div class="card-project-body">
                    <div class="card-project-body__header">
                        <div class="header-title">{{name}}</div>
                        <ul class="header-tags">
                            {{#each technologies}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="card-project-body__description">
                        {{{description}}}
                    </div>

                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>