<div class="container-feed">
    <div class="feed-general">
        <masonry-layout cols="3" gap="20">
            {{#each projects}}
            <a class="link-card-project" href="/project/{{url}}">
                <div class="card-project">

                    <div class="card-project-image">
                        <img src={{image_project.imageURL}} alt="">
                    </div>

                    <div class="card-project-body">
                        <div class="card-project-body__header">
                            <ul class="header__technologies">
                                {{#each technologies}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            <div class="header-title">{{name}}</div>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </masonry-layout>
    </div>
</div>