<section class="initial-page">
    <div class="box-initial-page">

        <div class="box-initial-page__info">
            <div class="box-initial-page__logo">
                <img src="/static/icons/logo2.svg" alt="Logo">
            </div>
            <p class="description-initial-page">Comparte tus proyectos con todo el mundo. Demuestra tu talento.</p>
            <a href="/login" class="btn-standard btn-login">Log In</a>
            <a href="/register" class="btn-standard btn-register">Create new account</a>
        </div>
    </div>
    <div class="box-initial-page">
        <img src={{imageUrlCover}} alt="image in the background">
    </div>
</section>