<section class="container-login">
    <div class="section-login">
        <div class="section-login__info">
            <h2 class="title-principal-form">Log in</h2>
            <form action="/login" method="POST">
                <label for="email">Email</label>
                <input 
                    type="text" 
                    class="input-control" 
                    id="email" 
                    name="email" 
                    placeholder="Enter your email">

                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="input-control" 
                    id="password" 
                    name="password" 
                    placeholder="Enter your password">

                <a href="/register" class="link-redirect">Don't you have an account? Create it now</a>
                <button type="submit" class="btn-standard btn-form">Log in</button>
            </form>
        </div>
    </div>
    <div class="section-login">
        <div class="title-section-form">
            <h2>Join our community</h2>
        </div>
    </div>
</section>