<section class="container-login">
    <div class="section-login">
        <div class="section-login__info">
            {{!-- <div class="section-login__logo">
                <img src="/static/icons/logo2.svg" alt="">
            </div> --}}
            <h2 class="title-principal-form">Log in</h2>
            <form action="">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    class="input-control" 
                    id="username" 
                    placeholder="Enter your username">

                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="input-control" 
                    id="password" 
                    placeholder="Enter your password">

                <button type="submit" class="btn-standard btn-form">Log in</button>
            </form>
        </div>
    </div>
    <div class="section-login">
        <div class="title-section-form">
            <h2>Join our community</h2>
        </div>
    </div>
</section>