<div class="container-error">
  <div class="container-error__content">
    <span class="container-error__icon">😵 We had a problem, we will fix it soon.</span>
    <h1 class="container-error__title">Houston, we have a problem...</h1>
    
    <div class="container-error__images">
      <img src="/static/images/meme-no-puede-ser.jpg" alt="Image of page not found meme">
      <a href="/feed" class="btn-standard btn-login">Back to Feed</a>
    </div>
</div>