<section class="container-profile">
  <div class="section-profile">
    <div class="profile-image">
      <img src="/static/images/user-icon-default.jpg" alt="{{ profile.name }}">
    </div>
  </div>
  <div class="section-profile">
    <div class="section-profile__info-principal">
      <div class="box-info-principal">
        <h1 class="profile-name">{{user.fullname}}</h1>
        <p class="profile-profession">{{user.profession}}</p>
      </div>
    </div>
  </div>
</section>