<div class="container-add-project">
  <div class="container-add-project__content">
    <h2 class="title-principal-form">Update project</h2>

    <form 
      class="container-add-project__form" 
      action="/project/update/{{project.url}}" 
      method="POST">
      
      {{!-- <div class="container-add-project__form-group"> --}}
        <label for="name">Name of the project</label>
        <input type="text" name="name" value="{{project.name}}" placeholder="Enter the name of your project" class="input-control">
      {{!-- </div> --}}

      <label for="description">Description of the project</label>

      <input type="hidden" value="{{project.description}}" name="description" id="description">
      <trix-editor class="container-trix" input="description"></trix-editor>

      <label for="">Technologies used in the project</label>
      <div class="knowledge-list-addproject">
        {{#selectTechnologies project.technologies}}
        {{/selectTechnologies}}
      </div>
      <input type="hidden" name="technologies" value="{{project.technologies}}" id="technologies">
      <input type="submit" value="Update the project" class="btn-standard btn-form">
    </form>
  </div>
</div>