<header class="container-header">
    <nav class="title-header">
        <a href="/feed" class="container-logo">
            <img src="/static/icons/new-logo.svg" alt="">
        </a>
    </nav>
    <nav class="">
        <a href="/user/johndoe">Profile</a>
        {{!-- <a href="/city/add">Add city</a> --}}
    </nav>

</header>