<header class="container-header">
    <nav class="title-header">
        <a href="/" class="container-logo">
            <img src="/static/icons/logo2.svg" alt="">
        </a>
    </nav>
    <nav class="nav-addcity">
        <a href="/city/add">Add city</a>
    </nav>

</header>